@import "../fonts/iransansx";
@import "../fonts/times.css";

[class^="fa"], [class*=" fa"] * {
  font-family: "Iran Sans X FaNum" !important;
}

.en * {
  font-family: "Times New Roman" !important;
}

@layer utilities {
  .rtl {
    direction: rtl;
    &.tw-text-start,
    .tw-text-start {
      @apply tw-text-right;
    }
  }

  .ltr {
    direction: ltr;
    &.tw-text-start,
    .tw-text-start {
      @apply tw-text-left;
    }
  }
}
