@font-face
  font-family: "B Yekan"
  src: url("/fonts/IRANYekanWebRegular.woff") format("woff"), url("/fonts/IRANYekanWebRegular.ttf") format("truetype")
  font-weight: normal
  font-style: normal
  font-stretch: normal
