@font-face{
  font-family: "Times New Roman";
  src: url("/fonts/times.woff") format("woff"), url("/fonts/times.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}