.doc-md
  *
    text-align: start
    unicode-bidi: plaintext
  h1
    text-align: center
  h2
    text-align: center
  img
    text-align: center
  pre, code, .sourceCode, .ltr
    direction: ltr
    text-align: left
    unicode-bidi: -webkit-isolate
    unicode-bidi: -moz-isolate
    unicode-bidi: isolate
  li
    margin: 0 24px
  
    
.toc-md
  height: calc(100vh - 96px)
  overflow: auto