.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: opacity 0.18s;
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  opacity: 0;
}



.page-enter-active,.page-leave-active {  transition: all 0.4s;}.page-enter-from,.page-leave-to {  opacity: 0;  filter: blur(1rem);}





.slide-bounce-enter-active {
  animation: bounce-in 0.5s;
}
.slide-bounce-leave-active {
  animation: bounce-in 0.1s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
