.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: opacity 0.18s;
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  opacity: 0;
}

.slide-bounce-enter-active {
  animation: bounce-in 0.5s;
}
.slide-bounce-leave-active {
  animation: bounce-in 0.1s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
