:root {
  --c-transparent: rgba(0, 0, 0, 0);
  --c-transparent-rgb: var(--c-transparent);
  --c-white: 255, 255, 255;
  --c-white-rgb: rgb(var(--c-white));
  --c-gray: 130, 130, 130;
  --c-gray-rgb: rgb(var(--c-gray));
  --c-black: 0, 0, 0;
  --c-black-rgb: rgb(var(--c-black));
  --c-green: 76, 175, 80;
  --c-green-rgb: rgb(var(--c-green));
  --c-orange: 255, 165, 0;
  --c-orange-rgb: rgb(var(--c-orange));
  --c-skyblue: 137, 171, 205;
  --c-skyblue-rgb: rgb(var(--c-skyblue));
  --c-blue: 37, 71, 255;
  --c-blue-rgb: rgb(var(--c-blue));
  --c-red: 255, 59, 48;
  --c-red-rgb: rgb(var(--c-red));
}
