:root {
  --c-transparent: rgba(0, 0, 0, 0);
  --c-transparent-rgb: var(--c-transparent);
  --c-white: 255, 255, 255;
  --c-white-rgb: rgb(var(--c-white));
  --c-gray: 130, 130, 130;
  --c-gray-rgb: rgb(var(--c-gray));
  --c-black: 0, 0, 0;
  --c-black-rgb: rgb(var(--c-black));
  --c-green: 76, 175, 80;
  --c-green-rgb: rgb(var(--c-green));
}
