.doc-md
  *
    text-align: start
    unicode-bidi: plaintext
  h1
    text-align: center
  pre, code, .sourceCode, .ltr
    direction: ltr
    text-align: left
    unicode-bidi: -webkit-isolate
    unicode-bidi: -moz-isolate
    unicode-bidi: isolate
.toc-md
  height: calc(100vh - 96px)
  overflow: auto
