input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

html {
  overflow-y: auto !important;
}

@media (min-width: 961px) {
  .oddodd:nth-child(4n + 4) {
    background-color: #f2f2f2;
  }
  .oddodd:nth-child(4n + 3) {
    background-color: #f2f2f2;
  }
}
@media (max-width: 960px) {
  .oddodd:nth-child(odd) {
    background-color: #ffffff;
  }
  .oddodd:nth-child(even) {
    background-color: #f2f2f2;
  }
}

.striped:nth-child(even) {
  background-color: #ffffff;
}
.striped:nth-child(odd) {
  background-color: #f2f2f2;
}

.copy-cursor {
  cursor: copy;
}

.header-box {
  height: 40px;
}
