$font-size-root: 14px
$list-item-title-font-size: 0.875rem
$list-item-dense-title-font-size: 0.875rem
$card-text-font-size: 0.875rem
$data-table-regular-header-font-size: 0.875rem
$data-table-regular-row-font-size: 0.875rem
$data-table-dense-header-height: 32px
$data-table-regular-header-height: 32px
$data-table-regular-row-height: 32px
$data-table-row-group-children-td-height: 32px
$input-font-size: inherit
$label-font-size: inherit

// Reset Inputs
$input-slot-margin-bottom: 0

// All Headers 40 px
$toolbar-btn-icon-size: 32px
$list-dense-min-height: 32px


$body-font-family: "Times New Roman"

