
$font-size-root: 12px;
$value-font-size: 1rem;
$border-radius-root: 6px;

$c-default: #e0e0e0;
$c-secondary: #EF394E;
$c-primary: #3554D1;
$c-accent: #82B1FF;
$c-error: #FF3B30;
$c-info: #009CF2;
$c-success: #00BD79;
$c-warning: #FFBB46;
$c-defualt-bg: #F9FAFE;
$c-gray4: #BDBDBD;


$headings: (
  "h1": (
    "size": 2rem,
    "weight": 700,
    "line-height": 6rem,
    "letter-spacing": -0.015625em,
    "text-transform": false,
  ),
  "h2": (
    "size": 1.667rem,
    "weight": 700,
    "line-height": 3.75rem,
    "letter-spacing": -0.0083333333em,
    "text-transform": false,
  ),
  "h3": (
    "size": 1.334rem,
    "weight": 700,
    "line-height": 3.125rem,
    "letter-spacing": normal,
    "text-transform": false,
  ),
  "h4": (
    "size": 1rem,
    "weight": 700,
    "line-height": 2.5rem,
    "letter-spacing": 0.0073529412em,
    "text-transform": false,
  ),
  "h5": (
    "size": 0.8334rem,
    "weight": 500,
    "line-height": 2rem,
    "letter-spacing": normal,
    "text-transform": false,
  ),
  "h6": (
    "size": 1.334rem,
    "weight": 500,
    "line-height": 2rem,
    "letter-spacing": 0.0125em,
    "text-transform": false,
  ),
  "subtitle-1": (
    "size": 1rem,
    "weight": normal,
    "line-height": 1.75rem,
    "letter-spacing": 0.009375em,
    "text-transform": false,
  ),
  "subtitle-2": (
    "size": 0.875rem,
    "weight": 500,
    "line-height": 1.375rem,
    "letter-spacing": 0.0071428571em,
    "text-transform": false,
  ),
  "body-1": (
    "size": 1rem,
    "weight": 400,
    "line-height": 1.5rem,
    "letter-spacing": 0.03125em,
    "text-transform": false,
  ),
  "body-2": (
    "size": 0.875rem,
    "weight": 400,
    "line-height": 1.25rem,
    "letter-spacing": 0.0178571429em,
    "text-transform": false,
  ),
  "button": (
    "size": 1rem,
    "weight": 500,
    "line-height": 2.25rem,
    "letter-spacing": 0.0892857143em,
    "text-transform": uppercase,
  ),
  "caption": (
    "size": 1rem,
    "weight": 400,
    "line-height": 1.25rem,
    "letter-spacing": 0.0333333333em,
    "text-transform": false,
  ),
  "overline": (
    "size": 1rem,
    "weight": 500,
    "line-height": 2rem,
    "letter-spacing": 0.1666666667em,
    "text-transform": uppercase,
  ),
);


$list-item-padding: 0 4px;
$list-item-title-font-size: 0.857rem;
$list-item-dense-title-font-size: 0.875rem;
$list-item-action-icon-margin: 4px;
$list-item-child-min-width: 4px;

$card-text-font-size: 0.8334rem;

$data-table-regular-header-font-size: 0.8334rem;
$data-table-regular-row-font-size: 1rem;
$data-table-dense-header-height: 32px;
$data-table-regular-header-height: 32px;
$data-table-regular-row-height: 32px;
$data-table-row-group-children-td-height: 32px;


$tabs-bar-background-color: rgba($c-primary,0);


$btn-text-transform: none;
$btn-font-weight: 700;
$btn-font-sizes: (
  "x-small": 0.625rem,
  "small": 0.75rem,
  "default": 0.834rem,
  "large": 1rem,
  "x-large": 1.334rem,
);


$input-font-size: inherit;
$label-font-size: inherit;
$input-slot-margin-bottom: 0;
$text-field-outlined-rounded-slot-padding: 0 8px;
$text-field-outlined-fieldset-border-width: 1px;
$text-field-outlined-fieldset-border: 1px solid currentColor;


$toolbar-content-padding-y:0;
$toolbar-content-padding-x: 8px;
$toolbar-btn-icon-size: 32px;


$list-dense-min-height: 32px;
$stepper-step-step-height: 32px;
$stepper-step-step-width: 32px;


$body-font-family: "Iran Sans X FaNum, Times New Roman";

@import "./light.scss";