@font-face {
  font-family: "B Yekan";
  src: url("static/fonts/IRANYekanWebRegular.woff") format("woff"),
    url("static/fonts/IRANYekanWebRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Iran Sans(fa)";
  src: url("static/fonts/IRANSans(FaNum)_Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Iran Sans";
  src: url("static/fonts/IRANSans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Times New Roman";
  src: url("static/fonts/times.woff") format("woff"), url("static/fonts/times.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

$font-size-root: 14px;
$card-text-font-size: 0.715rem;
$data-table-regular-header-font-size: 0.715rem;
$data-table-regular-row-font-size: 0.715rem;
$data-table-dense-header-height: 32px;
$data-table-regular-header-height: 32px;
$data-table-regular-row-height: 32px;
$data-table-row-group-children-td-height: 32px;
$input-font-size: inherit;
$label-font-size: inherit;

// Reset Inputs
$input-slot-margin-bottom: 0;

// All Headers 40 px
$toolbar-btn-icon-size: 32px;
$list-dense-min-height: 32px;


$body-font-family: "Iran Sans", "Times New Roman";

