:root {
  --c-primary: 53, 84, 209;
  --c-primary-rgb: rgb(var(--c-primary));
  --c-default: 224, 224, 224;
  --c-default-rgb: rgb(var(--c-default));
  --c-secondary: 239, 57, 78;
  --c-secondary-rgb: rgb(var(--c-secondary));
  --c-accent: 130, 177, 255;
  --c-accent-rgb: rgb(var(--c-accent));
  --c-error: 255, 59, 48;
  --c-error-rgb: rgb(var(--c-error));
  --c-info: 0, 156, 242;
  --c-info-rgb: rgb(var(--c-info));
  --c-success: 0, 189, 121;
  --c-success-rgb: rgb(var(--c-success));
  --c-warning: 255, 187, 70;
  --c-warning-rgb: rgb(var(--c-warning));
  --c-defualt-bg: 249, 250, 254;
  --c-defualt-bg-rgb: rgb(var(--c-default-bg));
  --c-gray4: 189, 189, 189;
  --c-gray4-rgb: rgb(var(--c-gray4));
  --c-gray6: 229, 233, 250;
  --c-gray6-rgb: rgb(var(--c-gray6));
  --border-radius-root: 6px;
  --border-radius-panel: 0px;
  --border-radius-input: 4px;
  --border-size-btn: 1px;

  --font-size-root: 12px;
  --value-font-size: 1rem;

  --row-height: 32px;

  --tooltip-color: rgba(var(--c-success), 0.85);
}
